EmailSegregation&Labeling.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e8bd5034-299c-46fb-9eba-ca7df86f1b06",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "fYKsjxwBkM9f2nR0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "For your info",
              "description": "Description: Informative emails meant to keep you updated. A reply may still be appropriate, especially to acknowledge or confirm"
            },
            {
              "category": "Comments",
              "description": "Description: Emails with opinions, feedback, or notes - typically part of an ongoing conversation"
            },
            {
              "category": "Marketing",
              "description": "Description: Promotional emails like newsletters, offers, or announcements from companies"
            },
            {
              "category": "Action required",
              "description": "Description: The email needs immediate attention or action - often urgent or task-related"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "1a3da123-379f-4abe-8a8a-4356f20ab1f3",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        208
      ],
      "id": "29bb62b0-58f2-43d9-a4bb-634821b77313",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "5h2vpzeoLj0hj4ux",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.snippet }}",
        "labelIds": [
          "Label_3154912354078780453"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        -128
      ],
      "id": "5b912e87-0120-4301-a9a3-acde04caab97",
      "name": "Add label to message",
      "webhookId": "45d6b593-e15c-4d40-b4eb-3d0c701a562b",
      "credentials": {
        "gmailOAuth2": {
          "id": "fYKsjxwBkM9f2nR0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.snippet }}",
        "labelIds": [
          "Label_8202728310754948381"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        656,
        0
      ],
      "id": "4262ef2c-64a3-4e97-b337-32cf07610643",
      "name": "Add label to message1",
      "webhookId": "d04585ab-64db-44e8-bba9-449ffa338dc1",
      "credentials": {
        "gmailOAuth2": {
          "id": "fYKsjxwBkM9f2nR0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.snippet }}",
        "labelIds": [
          "Label_5660710700552262361"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        608,
        144
      ],
      "id": "a32bb18a-a912-4d52-a14e-19289bdf6a30",
      "name": "Add label to message2",
      "webhookId": "2c661a6c-86cd-480d-8003-1bac680d32dd",
      "credentials": {
        "gmailOAuth2": {
          "id": "fYKsjxwBkM9f2nR0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.snippet }}",
        "labelIds": [
          "Label_7121355870052514415"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        608,
        160
      ],
      "id": "83fba75d-f4a3-4f78-99cd-8f15ab690e4c",
      "name": "Add label to message3",
      "webhookId": "97430044-354a-4429-9447-eebff4f960c8",
      "credentials": {
        "gmailOAuth2": {
          "id": "fYKsjxwBkM9f2nR0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert assistant. Generate a brief, polite, and personalized reply draft based on this email: {{ $('Gmail Trigger').item.json.snippet }}. Do not include a subject line."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        816,
        160
      ],
      "id": "219293d3-e61b-4c8a-8245-cf23d6d39902",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "5h2vpzeoLj0hj4ux",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1168,
        160
      ],
      "id": "a3a1e007-916d-4281-8026-fd12f78972b9",
      "name": "Create a draft",
      "webhookId": "d50b38cf-9a6f-467c-8893-c07fcd06848f",
      "credentials": {
        "gmailOAuth2": {
          "id": "fYKsjxwBkM9f2nR0",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19c7736892697d94",
          "threadId": "19c7722bde4c6527",
          "snippet": "This is a information for your gmail account to classify and take action as per the incoming emails",
          "payload": {
            "mimeType": "multipart/mixed"
          },
          "sizeEstimate": 9972028,
          "historyId": "33488",
          "internalDate": "1771526588000",
          "labels": [
            {
              "id": "SENT",
              "name": "SENT"
            },
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            }
          ],
          "Subject": "sora images 19/02",
          "From": "Shri Bhat <shribhat1591@gmail.com>",
          "To": "Shri Bhat <shribhat1591@gmail.com>"
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message3": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a412789b-c0a7-4cd1-b93a-f579f2d78394",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "63b7da19f0f3eaf3f10cfe25240229ef542c4643c13a606d21a9163bb8cd1bcd"
  },
  "id": "hRTSkwWqXV7MVWoNLKyyt",
  "tags": []
}